In [1]:
import pandas as pd

In [4]:
from sklearn.datasets import load_boston

In [5]:
boston_data=load_boston()

In [6]:
boston_data.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [11]:
data=pd.DataFrame(boston_data.data,columns=boston_data.feature_names)

In [9]:
target=pd.DataFrame(boston_data.target)

In [14]:
final_boston=pd.concat([data,target],axis=1)

In [15]:
final_boston.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT     0
0  0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [17]:
final_boston.rename(columns={0:'TARGET'},inplace=True)